/* General */

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
}

header {
    background-color: #DE1715;
    height: 12vh;
}

section {
    min-height: 88vh;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.align {
    align-items: center;
}

.justify {
    justify-content: center;
}

.padding {
    padding: 0 12%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 24px;
}

.dual {
    width: 50%;
    margin: 0 15px;
}

.button {
    padding: 12px 16px;
    background-color: #DE1715;
    color: #fff;
}

/* General End */

/* Loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #db1413;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .loader {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .loader-image {
      width: 20%;
  }

/* Loader End */

/* Header */

.header-nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px;
}

.header-logo {
    width: 70px;
    filter: invert()
}

.social-media-icon {
    width: 30px;
    margin: 0 12px;
}

.header-links-container {
    width: 50%;
    justify-content: flex-start;
}

.header-social-media-container {
    width: 50%;
    justify-content: flex-end;
}

/* Header End */

/* Mobile Header */

.mobile-header {
    display: none;
}

.menu-btn {
    appearance: none;
    --webkit-appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: x-large;
    cursor: pointer;
    z-index: 5;
}   

.dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #db1413;
    padding: 30px 50px;
}

.menu-content {
   display: none;
   position: fixed;
   background-color: #db1413;
   min-width: 160px;
   z-index: 1;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
   width: 100vw;
   left: 0;
   height: 100vh;
   top: 0;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

.mobile-header-items {
    margin: 15% 0;
    display: flex;
    flex-direction: column;
}

.nav-close {
    position: absolute;
    top: 1%;
    right: 13%;
    appearance: none;
    --webkit-appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.dropdown-item {
    color: white;
    text-align: center;
    padding: 8px 36px;
    font-size: 24px;
}

.dropdown-item:hover {
    background-color: #ffffff3b;
}

/* Mobile Header End */

/* Footer */

footer {
    height: 35vh;
    background-color: #DE1715;
    padding: 5%;
}

.footer-container {
    width: 100%;
    flex-direction: row;
}

.footer-logo {
    width: 120px;
    filter: invert();
}

.footer-nav-head {
    color: #fff;
    font-size: 22px;
}

.footer-link-container {
    width: 15%;
    margin: 0 5%;
}

.footer-link {
    color: #fff;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-cr {
    color: #fff;
    font-size: 12px;
    margin: 20px 0 0 0;
}

/* Footer End */

/* Landing */

.landing {
    flex-direction: row;
}

.landing-image-container {
    padding: 15%;
    background-color: #DE1715;
    width: 65%;
}

.landing-image {
    width: 200px;
    filter: invert();
}

/* Landing End */

/* Store */

.store-heading {
    width: 100%;
    justify-content: flex-start;
    padding-top: 5vh;
}

.powered-by-store {
    color: #000;
    margin-left: 10px;
    font-size: 16px;
}

.store-items-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 3% 0;
}

.store-item-card-link {
    width: 23%;
}

.store-item-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10% 3%;
    margin: 15px;
    scale: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.store-item-card:hover {
    scale: 1.05;
}

.store-item-image {
    width: 80%;
}

.store-item-name {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.store-item-price {
    color: gray;
    font-weight: normal;
    font-size: 16px;
}

/* Store End */

/* Blog Start */

.blog-items-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 3% 0;
}

.blog-item-card-link {
    width: 23%;
}

.blog-item-card {
    width: 50%;
    word-wrap: normal;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10% 3%;
    scale: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.blog-item-card:hover {
    scale: 1.05;
}

.blog-item-image {
    width: 100%;
}

.blog-item-name {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 5px 0;
}

.blog-desc {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 16px;
}

.blog-date {
    color: gray;
    font-weight: normal;
    font-size: 16px;
}

/* Blog End */

/* Blog Create */

.form-create-container {
    padding: 5vh 0;
}

.form-group > * {
    appearance: none;
    margin: 5px 0;
}

label > span {
    color: gray;
    font-size: 12px;
}

.form-group > input, textarea {
    padding: 15px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
    resize: none;
    font-size: 18px;
}

.create-button  {
    padding: 14px 18px;
    border: solid 1px rgb(209, 209, 209);
    background-color: transparent;
    border-radius: 5px;
    resize: none;
    font-size: 18px;
}

/* Roster */

.roster-link {
    width: 60%;
}

.roster-img {
    width: 100%;
}

.roster-wrap {
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.roster-member {
    margin: 25px 15px;
}

.roster-social {
    height: 30px;
    filter: invert();
    margin: 0 5px;
}

/* Roster End */

/* Media Queries */

@media screen and (max-width: 980px) {
    /* General */
    html {
        overflow-x: hidden;
    }
    .padding {
        padding: 0 10%;
    }
    .dual {
        width: 100%;
    }
    /* Header */
    .desktop-header {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    .mobile-header-logo {
        width: 50px;
        filter: invert();
    }
    .header-links-container {
        width: auto;
    }
    .header-social-media-container {
        width: auto;
    }
    /* Footer */
    footer {
        height: 65vh;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-link-container {
        align-items: center;
    }
    .footer-logo-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 15px 0;
    }
    .footer-logo {
        width: 15%;
    }
    .footer-nav-head {
        text-align: center;
        margin: 15px 0;
    }
    .footer-link {
        text-align: center;
        margin: 5px 0;
    }
    /* Landing */
    .landing {
        flex-direction: column;
    }
    .landing-image-container {
        width: 100%;
    }
    /* Store */
    .store-item-card-link {
        width: 50%;
    }
    .store-item-card {
        margin: 0;
    }
    /* Blog */
    .blog-items-container {
        align-items: center;
    }
    .blog-item-card {
        width: auto;
        max-width: auto;
    }
    /* Roster */
    .roster-link {
        width: auto;
    }
    .roster-wrap {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}